@model HentaiSite.Models.ViewModels.IndexViewModel


@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/search.css">
}

@section Scripts
{
    <script src="~/js/search.js" asp-append-version="true"></script>
}

<div class="main-title">

    <div class="tag-cloud-search">
        <ul>

            <li>Юри</li>
            <li>Анал</li>
            <li>Большие сиськи</li>
            <li>Минет</li>
            <li>Групповой</li>
            <li>Студентки</li>
            <li>Мастурбация</li>
            <li>Девственницы</li>
            <li>Футунари</li>
            <li>Кошкодевочки</li>

        </ul>
    </div>

</div>

<div class="content-sort-wrap">
    <div>
        <span>Сортировать по:</span>
    </div>

    <div class="content-sort">
        <a href="?orderby=name-d&@(Model.queryString)"><span>По имени</span></a>
        <a href="?orderby=rating-d&@(Model.queryString)"><span class="sort-active">По рейтингу</span></a>
        <a href="?orderby=time-d&@(Model.queryString)"><span>По дате</span></a>
        <a href="?orderby=views-d&@(Model.queryString)"><span>По просомтрам</span></a>
</div>

</div>

<div class="content-list">


    @foreach (Post post in Model.posts)
    {
        <div class="content-block">

            <div class="content-block-overlay">
                @if (post.Censured)
                {
                    <span>Censure</span>
                }
                else
                {
                    <span>No censure</span>
                }
            </div>

            <a href="/post?id=@post.ID">
                <img src="~/img/thumbnail/3-2-@(post.ImgName)" alt="">
            </a>

            <div class="post-info-search">
                <span class="post-title-search">@post.Name</span>
                <span class="post-year-search"><a href="?year=@(post.ReleaseYear)">@post.ReleaseYear</a></span>

                @if (post.EndingYear != null)
                {
                    <span> - </span>
                    <span><a href="?year=@(post.EndingYear)">@post.EndingYear</a></span>
                }

                <div class="post-tags-search">
                    @if (post.Tags != null)
                    {
                        @foreach (Tag tag in post.Tags)
                        {
                            <a href="~/?tag=@tag.ID" class="clickable-yellow">@tag.Name</a>
                        }
                    }
                </div>
            </div>
        </div>
    }



</div>

<ul class="pagination">

    @if(Model.HasPreviousPage())
    {
        <li class=""><a href="?@(Model.queryStringWithoutPage)&page=@(Model.page - 1)">&lt;</a></li>
    }
    else
    {
        <li class="disabled"><a href="#">&lt;</a></li>
    }

    @if(Model.page > 4)
    {
        <li><a href="?@(Model.queryStringWithoutPage)&page=1">1</a></li>
        <li class=""><a href="#">...</a></li>
    }

    @for(int i = @Model.page - 3; i < Model.page; i++)
    {
        if(i < 1)
        {
            i = 0;
            continue;
        }
        <li><a href="?@(Model.queryStringWithoutPage)&page=@(i)">@(i)</a></li>
    }

    <li class="disabled">@(Model.page)</li>

    @for(int i = 1; i < 4 && Model.page + i <= Model.totalPages; i++)
    {
        <li><a href="?@(Model.queryStringWithoutPage)&page=@(Model.page + i)">@(Model.page + i)</a></li>
    }


    @if(Model.page + 3 < Model.totalPages)
    {
        <li><a href="#">...</a></li>
        <li><a href="?@(Model.queryStringWithoutPage)&page=@(Model.totalPages)">@(Model.totalPages)</a></li>
    }


     @if(Model.HasNextPage())
    {
        <li class=""><a href="?@(Model.queryStringWithoutPage)&page=@(Model.page + 1)">></a></li>
    }
    else
    {
        <li class="disabled"><a href="#">></a></li>
    }

</ul>