@model HentaiSite.Models.ViewModels.SearchOnePageViewModel


@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/search.css">
}

@section Scripts
{
    <script src="~/js/search.js" asp-append-version="true"></script>
}

@if (Model.HasPreview)
{
    <div class="preview">

        <div class="preview-title">

            <div class="preview-thumbnail">
                <img src="~/img/@(Model.PreviewThumbnailPath)">
            </div>

            <div class="preview-text-wrap">

                <p class="preview-text-big">@(Model.PreviewName)</p>

                <p class="preview-text-small">@(Model.posts.Count) видео</p>

            </div>

        </div>

        <div class="preview-description">
            <p>

                @(Model.PreviewDescription)

            </p>
        </div>

    </div>
}

<div class="content-sort-wrap">
    <div>
        <span>Сортировать по:</span>
    </div>

    <div class="content-sort">
        @if(Model.orderBy == "name")
        {
            <a href="?orderby=name-d"><span class="sort-active">По имени (А-Я)</span></a>
        }
        else if(Model.orderBy == "name-d")
        {
            <a href="?orderby=name"><span class="sort-active">По имени (Я-А)</span></a>
        }
        else
        {
            <a href="?orderby=name"><span>По имени (А-Я)</span></a>
        }

        @if(Model.orderBy == "rating-d")
        {
            <a href="?orderby=rating"><span class="sort-active">По рейтингу (популярное)</span></a>
        }
        else if(Model.orderBy == "rating")
        {
            <a href="?orderby=rating-d"><span class="sort-active">По рейтингу (не популярное)</span></a>
        }
        else
        {
            <a href="?orderby=rating-d"><span>По рейтингу (популярное)</span></a>
        }

        @if(Model.orderBy == "time-d")
        {
            <a href="?orderby=time"><span class="sort-active">По дате (новые)</span></a>
        }
        else if(Model.orderBy == "time")
        {
            <a href="?orderby=time-d"><span class="sort-active">По дате (старые)</span></a>
        }
        else
        {
            <a href="?orderby=time-d"><span>По дате (новые)</span></a>
        }

        @if(Model.orderBy == "views-d")
        {
            <a href="?orderby=views"><span class="sort-active">По просомтрам (больше)</span></a>
        }
        else if(Model.orderBy == "views")
        {
            <a href="?orderby=views-d"><span class="sort-active">По просомтрам (меньше)</span></a>
        }
        else
        {
            <a href="?orderby=views-d"><span>По просомтрам (больше)</span></a>
        }
    </div>

</div>

<div class="content-list">


    @foreach (Post post in Model.posts)
    {
        <div class="content-block">

            <div class="content-block-overlay">
                @if (post.Censured)
                {
                    <span>Censure</span>
                }
                else
                {
                    <span>No censure</span>
                }
            </div>

            <a href="/post/@(post.ID)">
                <img src="~/img/thumbnail/3-2-@(post.ImgName)" alt="">
            </a>

            <div class="post-info-search">
                <span class="post-title-search">@(post.Name)</span>
                <span class="post-year-search"><a href="~/year/@(post.ReleaseYear)">@post.ReleaseYear</a></span>

                @if (post.EndingYear != null)
                {
                    <span> - </span>
                    <span><a href="~/year/@(post.EndingYear)">@(post.EndingYear)</a></span>
                }

                <div class="post-tags-search">
                    @if (post.Tags != null)
                    {
                        @foreach (Tag tag in post.Tags)
                        {
                            <a href="~/tag/@(tag.ID)" class="clickable-yellow">@(tag.Name)</a>
                        }
                    }
                </div>
            </div>
        </div>
    }



</div>
