@using System.Text.RegularExpressions
@model AnimeSite.Models.ViewModels.IndexViewModel


@section Styles
{
    <link rel="stylesheet" href="~/css/search.css">
}

@section Scripts
{
    <script src="~/js/search.js" asp-append-version="true"></script>
}

@section Title
{
    <title>Смотреть аниме без рекламы - anifox.ru</title>
}


@if(Model.Tags != null)
{
<div class="main-title">

    <div class="tag-cloud-search">
        <ul>

            @foreach(Tag tag in Model.Tags)
            {
                // If disable last tag
                if(Model.ActiveTags.Contains(tag.ID) && Model.ActiveTags.Count() <= 1)
                {
                    // Href without tags
                    <a href="?@(Regex.Replace(Model.queryStringWithoutPage.Remove(0, 1), @$"tag={tag.ID}&?", "")    )"><li class="tag-active">@(tag.Name)</li></a>
                }
                else if(Model.ActiveTags.Contains(tag.ID))
                {
                    // If disable tag
                    // Href without this tag
                    <a href="?@(Regex.Replace(Model.queryStringWithoutPage.Remove(0, 1), @$"(&tag={tag.ID})|(tag={tag.ID}&)", ""))"><li class="tag-active">@(tag.Name)</li></a>
                }
                else
                {
                    // If active tag
                    // href with add tag
                    <a href="?tag=@(tag.ID)@(Model.queryStringWithoutPage)"><li>@(tag.Name)</li></a>
                }
            }

        </ul>
    </div>

</div>
}

<div class="content-sort-wrap">
    <div>
        <span>Сортировать по:</span>
    </div>

    <div class="content-sort">
        @if(Model.orderBy == "name")
        {
            <a href="?orderby=name-d@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По имени (А-Я)</span></a>
        }
        else if(Model.orderBy == "name-d")
        {
            <a href="?orderby=name@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По имени (Я-А)</span></a>
        }
        else
        {
            <a href="?orderby=name@(Model.queryStringWithoutOrderBy)"><span>По имени (А-Я)</span></a>
        }

        @if(Model.orderBy == "rating-d")
        {
            <a href="?orderby=rating@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По рейтингу (популярное)</span></a>
        }
        else if(Model.orderBy == "rating")
        {
            <a href="?orderby=rating-d@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По рейтингу (не популярное)</span></a>
        }
        else
        {
            <a href="?orderby=rating-d@(Model.queryStringWithoutOrderBy)"><span>По рейтингу (популярное)</span></a>
        }

        @if(Model.orderBy == "time-d")
        {
            <a href="?orderby=time@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По дате (новые)</span></a>
        }
        else if(Model.orderBy == "time")
        {
            <a href="?orderby=time-d@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По дате (старые)</span></a>
        }
        else
        {
            <a href="?orderby=time-d@(Model.queryStringWithoutOrderBy)"><span>По дате (новые)</span></a>
        }

        @if(Model.orderBy == "views-d")
        {
            <a href="?orderby=views@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По просомтрам (больше)</span></a>
        }
        else if(Model.orderBy == "views")
        {
            <a href="?orderby=views-d@(Model.queryStringWithoutOrderBy)"><span class="sort-active">По просомтрам (меньше)</span></a>
        }
        else
        {
            <a href="?orderby=views-d@(Model.queryStringWithoutOrderBy)"><span>По просомтрам (больше)</span></a>
        }
        
        
</div>

</div>

<div class="content-list" id="posts-wrap">


    @foreach (Post post in Model.posts)
    {
        <div class="content-block">

            <a href="/post/@(post.ID)">
                <div class="content-img-wrap">
                    <img src="~/img/thumbnail/3-2-@(post.ImgName)" alt="">
                </div>
            </a>

            <div class="post-info-search">
                <span class="post-title-search">@post.Name</span>
                <div class="post-preview-years">
                    <span class="post-year-search"><a href="/year/@(post.ReleaseYear)">@post.ReleaseYear</a></span>

                    @if (post.EndingYear != null)
                    {
                        <span> - </span>
                        <span class="post-year-search"><a href="~/year/@(post.EndingYear)">@post.EndingYear</a></span>
                    }
                </div>
                <div class="post-tags-search">
                    @if (post.Tags != null)
                    {
                        @foreach (Tag tag in post.Tags)
                        {
                            <a href="~/tag/@tag.ID" class="clickable-yellow">@tag.Name</a>
                        }
                    }
                </div>
            </div>
        </div>
    }



</div>

<ul class="pagination">

    @if(Model.HasPreviousPage())
    {
        <li class=""><a href="?page=@(Model.currentPage - 1)@(Model.queryStringWithoutPage)">&lt;</a></li>
    }
    else
    {
        <li class="disabled"><a href="#">&lt;</a></li>
    }

    @if(Model.currentPage > 4)
    {
        <li><a href="?page=1@(Model.queryStringWithoutPage)">1</a></li>
        <li class=""><a href="#">...</a></li>
    }

    @for(int i = @Model.currentPage - 3; i < Model.currentPage; i++)
    {
        if(i < 1)
        {
            i = 0;
            continue;
        }
        <li><a href="?page=@(i)@(Model.queryStringWithoutPage)">@(i)</a></li>
    }

    <li class="disabled">@(Model.currentPage)</li>

    @for(int i = 1; i < 4 && Model.currentPage + i <= Model.totalPages; i++)
    {
        <li><a href="?page=@(Model.currentPage + i)@(Model.queryStringWithoutPage)">@(Model.currentPage + i)</a></li>
    }


    @if(Model.currentPage + 3 < Model.totalPages)
    {
        <li><a href="#">...</a></li>
        <li><a href="?page=@(Model.totalPages)@(Model.queryStringWithoutPage)">@(Model.totalPages)</a></li>
    }


     @if(Model.HasNextPage())
    {
        <li class=""><a href="page=@(Model.currentPage + 1)@(Model.queryStringWithoutPage)">></a></li>
    }
    else
    {
        <li class="disabled"><a href="#">></a></li>
    }

</ul>